In [1]:
import pandas as pd
import datetime

In [2]:
# read connections
df = pd.read_csv('Connections.csv',sep='delimiter')

<ipython-input-2-e27a9ddabc56>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('Connections.csv',sep='delimiter')

In [3]:
df.head()

                                              Notes:
0  "When exporting your connection data, you may ...
1  First Name,Last Name,Email Address,Company,Pos...
2  Vahideh,Dashti,,Bozhan School,Product Manager,...
3  Mohammad,Arshad,arshadhp@gmail.com,Majid Al Fu...
4  Daniel,Lee,,DataInterview.com,Founder,17 Aug 2022

In [4]:
# drop uneeded columns 
df = df['Notes:'].str.split(',', expand=True).rename(columns = lambda x: "string"+str(x+1))
df2 = df[['string1','string2','string4','string5','string6']]
# df2 = df2[2:]

In [5]:
df2.iloc[1]

string1      First Name
string2       Last Name
string4         Company
string5        Position
string6    Connected On
Name: 1, dtype: object

In [12]:
# rename columns 
df2.rename({'string1':'First Name','string2':'Last Name','string4':'Company','string5':'Position','string6':'Connected On'}, axis=1, inplace=True)
df = df2[2:]

In [14]:
df.to_csv('Connections.csv',index=False)

In [9]:
df = pd.read_csv('Connections.csv')

In [12]:
df.dtypes

First Name      object
Last Name       object
Company         object
Position        object
Connected On    object
dtype: object

In [71]:
df['Connected On'] = df['Connected On'].fillna('16 Apr 2022')

In [73]:
df.to_csv('Connections.csv',index=False)

In [2]:
df = pd.read_csv('Invitations.csv')

In [5]:
df['Direction'].value_counts()

OUTGOING    499
INCOMING     36
Name: Direction, dtype: int64

In [26]:
# convert date time
def convert_date(date):
    date_splitd = date.split(',')
    txt = datetime.datetime.strptime(date_splitd[0],'%m/%d/%y')
    return txt

In [27]:
# apply convert_date to Sent At 
df['Sent At'] = df['Sent At'].apply(lambda x:convert_date(x))

In [29]:
df.to_csv('Invitations.csv',index=False)